<h1>Cases</h1>
{%- for case in collections.cases -%}
<h2>{{ case.data.title }}</h2>
{%- if case.data.image -%}
<img src="{{ case.data.image }}" width="200">
{%- endif -%}
{{ case.templateContent | safe }}
{%- endfor -%}