<section class="cases">
    <h2>Cases</h2>
    <div class="carousel__container">
        <ul class="carousel__items" id="carousel-items">
            {% for case in collections.cases %}
                <li class="carousel__item">
                    <h2>{{ case.data.title }}</h2>
                    {% if case.data.image %}
                        <img src="{{ case.data.image }}" width="200">
                        {% endif %}
                        {{ case.templateContent | safe }}
                    </li>
                {% endfor %}
            </ul>
            <div class="carousel__controls">
                <button class="carousel__btn" id="btn-left">&lt;</button>
                <button class="carousel__btn" id="btn-right">&gt;</button>
            </div>
        </div>
    </section>