<section class="cases section-layout">
    <div class="section__col1-3">
        <h2 class="section__heading">Case Studies</h2>
    </div>
    <div class="section__col2-3">
        <div class="carousel__container" id="csl">
            <ul class="carousel__items" id="carousel-items">
                {% for case in collections.cases %}
                    <li class="carousel__item">
                        <h3>{{ case.data.title }}</h3>
                        {% if case.data.image %}
                            <img src="{{ case.data.image }}" class="carousel__item-img" width="600" loading="lazy" alt="{{ case.data.title }}">
                            {% endif %}
                            {{ case.templateContent | safe }}
                        </li>
                    {% endfor %}
                </ul>
                <div class="carousel__controls">
                    <button class="carousel__btn" id="btn-left" aria-label="Previous">
                    </button>
                    <button class="carousel__btn" id="btn-right" aria-label="Next">
                    </button>
                        </div>
                    </div>
                </div>
            </section>