<div class="clients section-layout">
    <div class="client__list section__col3-3">
        <h2>Clients</h2>
        <img src="../img/iwn.png" alt="Invest in Washington Now" width="200" class="client-logo">
        <img src="../img/acluwa.png" alt="ACLU of Washington" width="150" class="client-logo">
        <img src="../img/carina.png" alt="Carina" width="150" class="client-logo">
        <img src="../img/seiu775.png" alt="SEIU 775" width="150" class="client-logo">
        <img src="../img/teamsters117.png" alt="Teamsters 117" width="150" class="client-logo">
        <img src="../img/ufcw3000.png" alt="UFCW 3000" width="150" class="client-logo">
        <img src="../img/wacv.png" alt="Washington Conservation Voters" width="150" class="client-logo">
        <img src="../img/WSD.png" alt="Washington State Democrats" width="150" class="client-logo">
        <img src="../img/ppnw+hi.png" alt="Planned PArenthood Votes PNW and Hawaii" width="150" class="client-logo">
        <img src="../img/nwh.png" alt="Northwest Harvest" width="150" class="client-logo">
        <img src="../img/afscme2428.png" alt="AFSCME 2428" width="150" class="client-logo">
    </div>
</div></div>