<div class="clients section-layout">
    <div class="client__list section__col3-3">
        <h2>Who We Work For</h2>
        <img src="../img/iwn.png" alt="Invest in Washington Now" width="200" class="client-logo" loading="lazy">
        <img src="../img/acluwa.png" alt="ACLU of Washington" width="150" class="client-logo" loading="lazy">
        <img src="../img/carina.png" alt="Carina" width="150" class="client-logo" loading="lazy">
        <img src="../img/seiu775.png" alt="SEIU 775" width="150" class="client-logo" loading="lazy">
        <img src="../img/teamsters117.png" alt="Teamsters 117" width="150" class="client-logo" loading="lazy">
        <img src="../img/ufcw3000.png" alt="UFCW 3000" width="150" class="client-logo" loading="lazy">
        <img src="../img/wacv.png" alt="Washington Conservation Voters" width="150" class="client-logo" loading="lazy">
        <img src="../img/WSD.png" alt="Washington State Democrats" width="150" class="client-logo" loading="lazy">
        <img src="../img/ppnw+hi.png" alt="Planned Parenthood Votes PNW and Hawaii" width="150" class="client-logo" loading="lazy">
        <img src="../img/frontera-fund-icon.png" alt="Frontera Fund" width="150" class="client-logo" loading="lazy">
        <img src="../img/nwh.png" alt="Northwest Harvest" width="150" class="client-logo" loading="lazy">
        <img src="../img/afscme2428.png" alt="AFSCME 2428" width="150" class="client-logo" loading="lazy">
        <img src="../img/wea-logo.png" alt="Washington Education Association" width="150" class="client-logo" loading="lazy">
        <img src="../img/WLIHA_logo.png" alt="Washington Low Inome Housing Alliance" width="150" class="client-logo" loading="lazy">
        <img src="../img/just-solutions-logo-secondary.png" alt="Just Solutions" width="150" class="client-logo" loading="lazy">
    </div>
</div>