<div class="modal__overlay hidden" id="modal">
	<div class="modal" id="contact-form">
		<a href="#" id="modal__close" class="modal__close">CLOSE</a>
		<form class="contactform" name="contact-form" data-netlify="true">
			<div class="contactform__section">
				<p class="contactform__heading">Get in touch with us about your next project:</p>
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required /></br>
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" /></br>
				<label for="phone">Phone:</label>
				<input type="tel" id="phone" name="phone" /></br>
				<label for="org">Campaign or Organization:</label></br>
				<input type="text" id="org" name="org" /></br>
				<label for="deadline">Deadline:</label>
				<input type="date" id="deadline" name="deadline" /></br>
			</div>
			<div class="contactform__section">
				<label for="project">Project Description:</label><br />
				<textarea id="project" name="project" cols="30"></textarea
				><br />
				<label for="attachment">Attachment:</label><br />
				<input type="file" id="attachment" name="attachment" multiple /><br />
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
</div>
