<div class="modal__overlay hidden" id="modal">
	<div class="modal" id="contact-form">
		<a href="#" id="modal__close" class="modal__close">CLOSE</a>
		<form
			class="contactform"
			name="contact-form"
			action="https://formsubmit.co/72a94a8f26281b097d6ba54ad8887041"
			enctype="multipart/form-data"
			method="POST"
		>
			<div class="contactform__section">
				<p class="contactform__heading">
					Get in touch with us about your next project:
				</p>
				<label for="name">Name*</label>
				<input type="text" id="name" name="name" required />
				<label for="email">Email*</label>
				<input type="email" id="email" name="_replyto" required />
				<label for="phone">Phone*</label>
				<input type="tel" id="phone" name="phone" maxlength="12" required />
				<label for="org">Campaign or Organization*</label>
				<input type="text" id="org" name="org" required />
				<label for="deadline">Deadline:</label>
				<input type="date" id="deadline" name="deadline" />
			</div>
			<div class="contactform__section">
				<label for="project">Project Description*</label>
				<textarea id="project" name="project" cols="30" required></textarea>
				<label for="attachment">Attachment:</label>
				<input type="file" id="attachment" name="attachment" multiple />
				<input type="submit" value="Submit" />
				<input type="text" name="_honey" style="display: none" />
				<input type="hidden" name="_subject" value="New Contact Request for Percussion">
				<input type="hidden" name="_next" value="https://www.google.com" />
				<input type="hidden" name="_url" value="https://localhost:8080">
			</div>
		</form>
	</div>
</div>
