<div class="site-footer">
    <div class="section__col1-3">
        <img src="../img/percussion-white-400.png" width="200" height="60" alt="Percussion Strategic Logo" class="footer__logo">
    </div>
    <div class="section__col1-3 footer__info">
        <p>A Syndicate of Digital &amp; Communications Professionals<br />&copy; 2022 Percussion Strategic</p>
    </div>
    <div class="section__col1-3">
        <ul class="footer__social-list">
            <li class="footer__social-item">
                <a href="https://twitter.com/percussioncomms" target="_blank"><img src="../img/twitter.svg" alt="Twitter" width="24" height="24" class="footer__social-icon">percussioncomms</a>
            </li>
            <li class="footer__social-item">
                <a href="https://www.facebook.com/Percussion-Strategic-109549058329244" target="_blank"><img src="../img/facebook.svg" alt="Facebook" width="24" height="24" class="footer__social-icon">Percussion Strategic</a>
            </li>
            <li class="footer__social-item">
                <a href="https://www.linkedin.com/company/percussion-strategic" target="_blank"><img src="../img/linkedin.svg" alt="LinkedIn" width="24" height="24" class="footer__social-icon">percussion-strategic</a>
            </li>
            <li class="footer__social-item">
                <a href="https://www.instagram.com/percussioncomms/" target="_blank"><img src="../img/instagram.svg" alt="Instagram" width="24" height="24" class="footer__social-icon">percussioncomms</a>
            </li>
        </ul>
    </div>
</div>