<header class="section-layout hero-v2">
    <h1 class="hero-v2__brand-wrapper"><img src="/img/perc-logo-tag-white-trans@2x.png" alt="Percussion Strategic Logo" width="450" height="245" class="hero-v2__brand"><span class="hidden" id="hidden-title" aria-describedby="hidden-title">Percussion Strategic</span></h1>
    <p class="hero-v2__tagline">A syndicate of digital and communications professionals</p>
</header>