<header class="section-layout hero">
    <img src="/img/perc-wordmark@2x.png" alt="Percussion Strategic Logo" width="450" height="245" class="hero__brand">
    <h4 class="hero__tagline">A syndicate of digital and communications professionals</h4>
</header>
