<header class="section-layout hero-v2">
    <img src="/img/perc-logo-with-tag-white@2x.png" alt="Percussion Strategic Logo" width="450" height="245" class="hero-v2__brand">
    <h4 class="hero-v2__tagline">A syndicate of digital and communications professionals</h4>
</header>