<div class="nav__toggle"><a href="#" id="menu-button">+</a></div>
<nav class="nav nav--hidden-on-mobile section-layout section__col3-3" id="nav">
    <img src="img/perc-logo-horizontal.png" alt="Percussion Strategic logo" height="26" width="177.5" class="nav__brand">
    <ul>
        {% for section in collections.section %}
            <li class="nav__item">
                <a href="#{{ section.data.title | slug }}">{{ section.data.title }}</a>
            </li>
        {% endfor %}
        <li class="nav__item">
            <a href="#" id="modal__open">Contact</a>
        </li>
    </ul>
</nav>
