<ul>
    {%- for section in collections.section -%}
    <li><a href="#{{section.data.title | slug }}">{{ section.data.title }}</a></li>
    {%- endfor -%}
    <li><a href="#" id="show-modal">Contact</a></li>
</ul>