</section>
<div class="services-revised">
    <div class="services-card">
        <h3 class="services-card__title">Earned Media</h3>
        <ul class="services-card__list">
            <li class="services-card__list-item">Spokesperson & Media Training</li>
            <li class="services-card__list-item">Press Relations</li>
            <li class="services-card__list-item">Media Pitching</li>
            <li class="services-card__list-item">Influencer Management</li>
            <li class="services-card__list-item">Direct Ad Buys</li>
            <li class="services-card__list-item">Rapid Communications</li>
            <li class="services-card__list-item">Press List Development</li>
        </ul>
    </div>
    <div class="services-card">
        <h3 class="services-card__title">Communications</h3>
        <ul class="services-card__list">
            <li class="services-card__list-item">Strategic Messaging</li>
            <li class="services-card__list-item">Integrated Advocacy Strategy</li>
            <li class="services-card__list-item">Coalition Building & Management</li>
            <li class="services-card__list-item">Op-Ed Writing</li>
            <li class="services-card__list-item">Report & Tooklkit Writing</li>
            <li class="services-card__list-item">Message Testing</li>
            <li class="services-card__list-item">Voice & Persona Research</li>
            <li class="services-card__list-item">Executive Communications</li>
        </ul>
    </div>
    <div class="services-card">
        <h3 class="services-card__title">Digital</h3>
        <ul class="services-card__list">
            <li class="services-card__list-item">Digital Advocacy Strategies</li>
            <li class="services-card__list-item">Digital Skills Trainings</li>
            <li class="services-card__list-item">Website Development & Management</li>
            <li class="services-card__list-item">Social Media Strategy & Execution</li>
            <li class="services-card__list-item">Email & SMS Strategy & Execution</li>
            <li class="services-card__list-item">CRM Management</li>
            <li class="services-card__list-item">Search Engine Optimization</li>
            <li class="services-card__list-item">Paid Ad Buys & Optimization</li>
            <li class="services-card__list-item">Paid Ad Creative & Copywriting</li>
        </ul>
    </div>
    <div class="services-card">
        <h3 class="services-card__title">Design</h3>
        <ul class="services-card__list">
            <li class="services-card__list-item">Logo Design</li>
            <li class="services-card__list-item">Brand Guidelines</li>
            <li class="services-card__list-item">Accessible Web Design</li>
            <li class="services-card__list-item">Photography & Videography</li>
            <li class="services-card__list-item">Audio & Video Production</li>
            <li class="services-card__list-item">Print Materials & Direct Mail</li>
            <li class="services-card__list-item">Social Media & Ad Creative Production</li>
        </ul>
    </div>
</div>