</div>
<div class="section__col3-3 services">
    <ul class="services__list">
        {%- for service in services -%}
            <li class="services__list__item">{{ service }}</li>
        {%- endfor -%}
    </ul>
    {# <ul class="services__list">
            <li class="services__list__item">
                Messaging & Spokesperson Media Training
            </li>
            <li class="services__list__item">Digital Ad Testing</li>
            <li class="services__list__item">
                Website Design & Production
            </li>
            <li class="services__list__item">Web Analytics</li>
            <li class="services__list__item">Digital Skills Training</li>
            <li class="services__list__item">Press Relations</li>
            <li class="services__list__item">
                Digital & Social Media Media Management
            </li>
            <li class="services__list__item">
                Digital Ad Buys & Optimization
            </li>
            <li class="services__list__item">Logos & Branding</li>
            <li class="services__list__item">
                Integrated Advocacy Strategy
            </li>
            <li class="services__list__item">Social Media Management</li>
            <li class="services__list__item">
                Email & SMS Action Management
            </li>
            <li class="services__list__item">Photography & Videography</li>
            <li class="services__list__item">Audio & Video Production</li>
            <li class="services__list__item">
                Print Materials & Direct Mail
            </li>
            <li class="services__list__item">
                Coalition Building & Management
            </li>
            <li class="services__list__item">
                Op-Ed Writing
            </li>
        </ul> #}