</div>
<div class="section__col3-3 services">
    <ul class="services__list">
        {%- for service in services -%}
            <li class="services__list__item">{{ service }}</li>
        {%- endfor -%}
    </ul>
    