@use '../utils' as *;

.blog-listing {
    &__header {
        padding-top: 6rem;
    }
    &__title {
        margin-block-start: 0;
    }
    &__subtitle {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        margin-block-start: 1rem;
    }
    &__author {
        text-align: center;
    }
    &__tag-list {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        list-style-type: none;
        //justify-content: center;
    }
    &__tag {
        background-color: var(--blog-tag);
        color: #fff;
        margin-inline-start: 1.5rem;
        padding: 0.1rem 1rem;
        border-radius: 0.3rem;
        &:first-child {
            margin-inline-start: 0;
        }
    }
    &__featured {
        max-width: calc(100% - 2rem);
        margin-inline-end: 2rem;
    }
}

.blog-single {
    background-color: var(--blog-single-title-bg);
    color: var(--blog-single-title);
    padding-top: 6rem;
    &__meta {
        position: relative;
        top: -125px;
        & img {
            margin-block-end: 1rem;
            @include shadow;
        }
    }
    &__content {
        background-color: var(--blog-single-content);
    }
    &__featured {
        max-width: 100%;
        //max-height: 250px;
        aspect-ratio: 16/9;
        object-fit: cover;
        margin-block-end: 2rem;
    }
    &__title {
        padding-inline-start: 33%;
        & h1 {
        margin: 0;
        }
    }
    &__subtitle {
        font-size: 1.333rem;
        color: var(--blog-single-subtitle);
        line-height: 1.2;
        margin-block-end: 2rem;
    }
    &__author {
        border-radius: 100%;
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    &__tag-list {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        list-style-type: none;
        justify-content: center;
    }
    &__tag {
        background-color: var(--blog-tag);
        color: #fff;
        margin-inline-start: 1.5rem;
        padding: 0.1rem 1rem;
        border-radius: 0.3rem;
            &:first-child {
                margin-inline-start: 0;
            }
        }
    }