/* CARD */
@use '../utils' as *;

.members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.member-card {
    /* temp border */
    //border: 1px solid #000000;


    width: clamp(450px, 50%, 600px);
	margin: 0 2rem 2rem 0;
    padding: 1rem;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

	&__portrait {
		min-width: 200px;
		min-height: 200px;
		object-fit: cover;
		border-radius: 100%;
        margin: 1rem 2rem 1rem 0;
	}
    &__info {
        flex-grow: 2;
    }
    &__list {
        padding-inline-start: 0;
    }
    &__role {
        //display: inline-block;
        list-style-type: none;
        margin-top: 0;
    }
    &__bio {
        flex-grow: 1;
    }

     @include xlarge {
        flex-wrap: none;
    }
}
