/* CAROUSEL */
@use '../utils' as *;

.carousel__container {
	background-color: var(--csl-bg);
	color: var(--csl-text);
	//border: 1px solid #cccccc;
	border-radius: 8px;
	position: relative;
	width: 100%;
	max-height: 75vh;
	overflow-x: hidden;
	overflow-y: scroll;

	@include shadow;
	//margin: 1em;
}

.carousel__items {
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	gap: 1em;
	position: relative;
	left: 0px;
	transition: left 0.3s ease-in-out;
}

.carousel__item {
	display: block;
	min-width: 100%;
	padding: 1rem;
	margin-top: 0;
	opacity: 0.3;
	transition: opacity 0.5s ease-in-out;
	&--current {
		opacity: 1;
	}
	&-img {
		width: 100%;
		margin-bottom: 2rem;
		@include shadow;
	}
	& h3 {
		font-family: Inter,sans-serif;
		font-weight: 600;
		font-size: 1.77rem;
		margin-top: 1rem;

		@include large {
			font-size: 2.369rem;
		}
	}

	& a:link, a:visited {
		color: var(--cases-link);
	}

	& a:hover, a:active {
		color: var(--cases-link-active);
	}

	@include large {
		padding: 2rem;
	}
}

.carousel__controls {
	background-color: var(--csl-controls-bg);
	//border-top: 1px solid #cccccc;
	text-align: center;
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.carousel__btn {
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 100%;
	background-color: var(--csl-btn-bg);
	//color: #ffffff;
	//font-size: 24px;
	width: 32px;
	height: 32px;
	margin: 0.5rem 1rem;
	&[disabled] {
		opacity: 0.7;
		cursor: not-allowed;
		&:hover {
			background-color: var(--csl-btn-bg);
		}
	}
	&:hover {
		background-color: var(--csl-btn-bg-hover);
	}
}

#btn-left {
	background-image: url('/img/arrow-left.svg');
}

#btn-right {
	background-image: url('/img/arrow-right.svg');
}

// .carousel__trail {
// 	display: inline-block;
// 	&--item {
// 		display: inline-block;
// 		margin: 1rem;
// 		font-weight: 700;
// 		& > a:link {
// 			text-decoration: none;
// 			color: #000000;
// 		}
// 	}
// }
