@use '../utils' as *;

.case-single {
    padding-top: 6rem;
    &__hero {
        min-height: 60vh;
        background-size: cover;
        background-position: center center;
        align-items: flex-end;
        position: relative;
        &-overlay {
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(transparent 50%, var(--case-single-overlay) 80%);
            //mix-blend-mode: color;
        }
    }
    &__title {
        padding-inline-start: 33%;
        z-index: 10;
        & h1 {
            margin: 0;
            color: var(--case-single-title);
        }
    }

    &__content {
        & h2 {
            margin-block-start: 0;
        }
        &-with-icons {
            display: grid;
            grid-template-columns: 100px 1fr;
        }
    }

    &__icon {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-end: 1rem;
        height: 80px;
        width: 80px;
        //padding: 1rem;
        border-radius: 100%;
        background-color: var(--case-single-icon);
        // float: left;
        margin-inline-end: 1rem;
        display: flex;
        flex-direction: row;
    }

    &__pullquote {
        //margin: 1.5rem 1rem;
        // float: left;
        // position: relative;
        // left: -33%;
        // max-width: 32ch;

        & blockquote {
            font-size: 1.4rem;
            margin-block-end: 1rem;
        }

        & cite {
            font-style: italics;
        }
    }
}

p {
    grid-column-end: span 3;
}

div.case-single__icon+p {
    grid-column-start: 2;
    align-self: center;
    font-size: 1.2rem;
}

.problem {

}

.solution {

}

.tactics {

}

.result {

}

.conclusion {
    
}