@use '../utils' as *;

.case-single {
    padding-top: 6rem;
    &__hero {
        min-height: 60vh;
        background-size: cover;
        background-position: center center;
        align-items: flex-end;
        position: relative;
        &-overlay {
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(transparent 50%, var(--case-single-overlay) 80%);
            //mix-blend-mode: color;
        }
    }
    &__title {
        padding-inline-start: 33%;
        z-index: 5;
        & h1 {
            margin: 0;
            color: var(--case-single-title);
        }
    }

    &__content {
        & h2 {
            margin-block-start: 0;
        }
        &-with-icons {
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-row-gap: 1rem;
        }
    }

    &__icon {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-end: 1rem;
        height: 80px;
        width: 80px;
        //padding: 1rem;
        border-radius: 100%;
        background-color: var(--case-single-icon);
        // float: left;
        margin-inline-end: 1rem;
        display: flex;
        flex-direction: row;
    }

    &__pullquote {
        margin: 1.5rem;
        max-width: 44ch;
        padding-inline-start: 1.5rem;
        border-left: 3px solid rgba(255,255,255,0.4);
        &:first-child {
                margin-block-start: 0;
            }

        & blockquote {
            font-size: 1.8rem;
            margin-block-end: 1rem;
            font-family: 'Big Shoulders Display';
            font-weight: 600;
            line-height: 1.2;
        }

        & cite {
            font-style: italic;
            max-width: 24ch;
        }
    }
}

p {
    grid-column-end: span 3;
}

div.case-single__icon+p {
    grid-column-start: 2;
    align-self: center;
    font-size: 1.2rem;
}

.problem {
    background-color: var(--case-single-problem-bg);
    color: var(--case-single-problem-text);
}

.solution {
    background-color: var(--case-single-solution-bg);
    color: var(--case-single-solution-text);
}

.tactics {
    background-color: var(--case-single-tactics-bg);
    color: var(--case-single-tactics-text);
}

.result {
    background-color: var(--case-single-result-bg);
    color: var(--case-single-result-text);
}

.conclusion {
    background-color: var(--case-single-conclusion-bg);
    color: var(--case-single-conclusion-text);
}

.case-listing {
    &__hero {
        background-color: var(--case-listing-intro-bg);
    }
    &__heading {
        color: var(--case-listing-heading);
    }
    &__intro-text {
        color: var(--case-listing-intro-text);
    }
    &__body {
        background-color: var(--case-listing-body-bg);
        & .case-single__pullquote {
                display: none;
            }
    }
    &__title {
        margin-block-start: 0;
        & a {
            color: var(--case-listing-title);
        }
    }
    &__subtitle {
        margin-block-start: 0;
        font-family: Inter;
        font-weight: 600;
    }
    &__header {
        padding-block-start: 6rem;
    }
    &__img-container {
        display: flex;
        min-height: 100%;
        align-items: center;
    }
    &__featured {
        max-width: calc(100% - 1rem);
        @include shadow;
    }
}