/* HERO */
@use '../utils' as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__brand {
       object-fit: contain;
    }
    &__tagline{
        color: var(--hero-tagline);
    }
}