/* HERO */
@use '../utils' as *;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-blend-mode: screen, multiply, normal;
    //background-color: var(--hero-bg);
    // background-image: url('../img/perc-blob.svg');
    // background-size: 200%;
    // background-repeat: no-repeat;
    // background-position: center 150%;
    background: url('../img/perc-blob-color.svg') center 175%/200% no-repeat, linear-gradient(var(--hero-bg), var(--hero-bg)), url('../img/perc-hero-bg.jpeg') center/200% no-repeat;
    &__brand {
        width: 75%;
        object-fit: contain;
    }
    &__tagline {
        color: var(--hero-tagline);
        font-weight: 400;
        margin-top: 1rem;
        max-width: 80%;
        text-align: center;

        @include large {
            color: var(--hero-tagline-lg);
        }
    }

    @include medium {
        background: url('../img/perc-blob-color.svg') center 125%/200% no-repeat, linear-gradient(var(--hero-bg), var(--hero-bg)), url('../img/perc-hero-bg.jpeg') center/cover no-repeat;
    }

    @include large {
        min-height: 75vh;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 25%;
        background: url('../img/perc-blob-color.svg') center 120%/200% no-repeat, linear-gradient(var(--hero-bg), var(--hero-bg)), url('../img/perc-hero-bg.jpeg') center/cover no-repeat;
        &__brand {
            width: 50%;
        }
        &__tagline {
            //margin: 2rem;
            text-align: left;
            max-width: 30%;
        }
    }

    @include xlarge {
        padding-bottom: 10%;
        background: url('../img/perc-blob-color.svg') center 108%/200% no-repeat, linear-gradient(var(--hero-bg), var(--hero-bg)), url('../img/perc-hero-bg.jpeg') center/cover no-repeat;
    }
}