/* MODAL */
@use '../utils' as *;
@use 'sass:color';

.modal {
    padding: 1rem;
	position: relative;
	background-color: #ffffff;
	opacity: 1;
	z-index: 20;
    max-width: 96vw;
	// width: 60vw;
	// height: 60vw;
	border-radius: 1rem;
	transform: translateY(0);
	transition: 0.5s ease-out;

	@include shadow;

	&__close {
		display: inline-block;
		//width: 100%;
		//text-align: right;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	&__overlay {
		background-color: var(--modal-overlay);
		width: 100vw;
		height: 100vh;
		margin-top: 0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		transition: opacity 0.7s;
	}

    @include medium {
        min-width: 70vw;
    }

	@include large {
		padding: 2rem;
	}

    @include xlarge {
        padding: 3rem;
    }
}

.contactform {
	flex-direction: column;
	justify-content: center;
    gap: 2rem;

	&__section {
		//margin: 0.5rem;

		@include medium {
			//margin: 1rem;
			flex-basis: 50%;
		}
	}

	@include large {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 0;
	}
}

.hidden > .modal {
	transform: translateY(150px);
}

.hidden {
	visibility: hidden;
	opacity: 0;
}
