/* NAV */
@use '../utils' as *;

.nav {
	position: fixed;
	right: 2%;
	top: 8%;
	width: 96%;
	//border: 1px solid #000000;
	border-radius: 4px;
	padding: 1rem;
	transition: right 0.3s ease-in-out;
	background-color: var(--nav-bg-mobile);
	color: var(--nav-text-mobile);
	backdrop-filter: blur(3px);
	z-index: 10;
	@include shadow;
	&--hidden-on-mobile {
		right: -200%;
	}
	&__brand {
		display: none;
	}
	> ul {
		padding-inline-start: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	// @media screen and (max-width: 768px) {

	// }

	@include large {
		width: 100%;
		top: initial;
		right: initial;
		background-color: var(--nav-bg);
		color: var(--nav-text);
		align-items: center;
		justify-content: space-between;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
		border-radius: 0;
		&--hidden-on-mobile {
			right: initial;
		}
		&__brand {
			display: inline-block;
            //margin-left: 2rem;
		}
	}

	//  {
	//     // @media screen and (max-width: 768px) {
	//     //     right: -200%;
	//     // }
	// }
}

.nav__item {
	display: list-item;
	list-style-type: none;
	text-align: right;
	//margin-right: 1rem;
	font-size: 1.5rem;
	padding: 0.25rem;
	&:not(:last-child) {
		border-bottom: 1px solid var(--nav-text-mobile);
		&:hover,
		:active {
			border-bottom: 1px solid var(--nav-text-mobile--hover);
		}
	}
	& a:link,
	a:visited {
		text-decoration: none;
		color: var(--nav-text-mobile);
		transition: color 0.2s ease-in;
	}
	& a:hover,
	a:active {
		//text-decoration: underline;
		color: var(--nav-text-mobile--hover);
	}
	// @media screen and (max-width: 768px) {

	// }

	@include large {
		display: inline-block;
		font-size: 1rem;
		&:not(:last-child) {
			margin-right: 0.5rem;
			border-bottom: 0;
			&:hover,
			:active {
				border-bottom: 0;
			}
		}
		& a:hover,
		a:active {
			text-decoration: underline;
			color: var(--nav-text--hover);
		}
	}
}

.nav__toggle {
	margin: 0;
	height: 0;
	z-index: 30;
	overflow: visible;
	display: block;
	position: sticky;
	width: 100%;
	text-align: right;
	top: 0;
	right: 2rem;
	font-weight: 900;
	font-size: 2rem;
	color: var(--nav-toggle);
    
	& img {
        padding: 0.25rem;
		background-color: var(--nav-toggle-bg);
		border-radius: 100%;
        @include shadow;
        &:active {
            background-color: var(--nav-toggle-bg-hover);
        }
	}
	& a:link,
	a:visited,
	a:active,
	a:hover {
		color: var(--nav-toggle);
		text-decoration: none;
	}
	// @media screen and (max-width: 768px) {

	// }

	@include large {
		display: none;
	}
}

#menu-button {
	display: inline-block;
	transition: transform 0.3s ease-in-out;
	margin-right: 1rem;
}

.rotated {
	transform: rotate(405deg);
}
