@use '../utils' as *;


// Services List

.services {
	text-align: center; //v1 layout, remove later
	padding-bottom: 4rem; //v1 layout, remove later
	&-revised {
		// new layout, remove "revised" and move up when ready
		background-color: var(--services-card-section-bg);
		display: grid;
		grid-template: 1fr / 1fr;
		gap: 2rem 2rem;
		padding: 2rem;

		@include medium {
			grid-template: 1fr 1fr / 1fr 1fr;
		}

		@include large {
			grid-template: 1fr / 1fr 1fr; // maybe consider a 960 breakpoint for this?
		}

		@include xlarge {
			grid-template: 1fr / 1fr 1fr 1fr;
		}

		@include huge {
			grid-template: 1fr / 1fr 1fr 1fr 1fr;
		}
	}
	&-card {
		background-color: var(--services-card-bg);
		color: var(--services-card-text);
		border-radius: 1rem;
		padding: 1rem;
		opacity: 0;
		@include shadow;
		&__title {
			text-align: center;
			margin-block-start: 0;
			color: var(--services-card-title);
			font-family: Inter, sans-serif;
			font-weight: 600;
			font-size: 1.777rem;
		}
		&__list {
			padding-inline-start: 0;
			list-style-type: none;
			text-align: center;
			&-item {
				display: inline-block;
				&::before {
					content: " • "
				}
			}
		}
		@include large {
			&:nth-child(4n) {
					grid-column-start: 2; 
				}
		}
		@include huge {
			&:nth-child(4n) {
				grid-column-start: 4;
			}
		}
	}

}


.services__list {
	padding-inline-start: 0;
	list-style-type: none;
	font-family: sans-serif;
	//display: inline-block;
	color: var(--services-item);
    font-weight: 600;

    &__item {
        display: block;
        // margin-right: 2rem;
		margin-bottom: 1.5rem;
		opacity: 0;

		@include medium {
			font-size: 1.2rem;
			margin-right: 2rem;
			margin-bottom: 2rem;
			display: inline-block;
		}
    }
}

.reveal {
	animation: reveal 1s 1 forwards;
}

@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(4rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}


.reveal-2 {
	animation: reveal-2 1.5s 1 ease-in-out forwards;
}

@keyframes reveal-2 {
	from {
		opacity: 0;
		transform: translateY(4rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}