@use '../utils' as *;


// Services List

.services {
	text-align: center;
	padding-bottom: 4rem;
}


.services__list {
	padding-inline-start: 0;
	list-style-type: none;
	font-family: sans-serif;
	//display: inline-block;
	color: var(--services-item);
    font-weight: 600;

    &__item {
        display: block;
        // margin-right: 2rem;
		margin-bottom: 1.5rem;
		opacity: 0;

		@include medium {
			font-size: 1.2rem;
			margin-right: 2rem;
			margin-bottom: 2rem;
			display: inline-block;
		}
    }
}

.reveal {
	animation: reveal 1s 1 forwards;
}

@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(4rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}
