---
pagination:
    data: collections.blog
    size: 2
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% set pageName = "Blog Posts" %}
{% include 'site-head.njk' %}
{% include 'secondary-navigation.njk' %}
<main class="site-content">
    <section class="blog-listing__header section-layout">
        <a href="/" class="nav__brand-mobile">
            <img src="/img/perc-logo-horizontal-nt.png" alt="Percussion Strategic logo" height="26" width="165"></a>
            <div class="section__col3-3">
                <h1 class="blog-listing__title">Blog Intro Goes Here</h1>
                <p class="blog-listing__subtitle">Percussion Strategic is a syndicate of communications professionals coming together to build impactful (and awesome) strategies and campaigns for our clients. From earned media to digital strategies to campaign execution, our team has XX years experience in social impact communications. We’re a network that prioritizes learning and sharing, and we work to use every opportunity to inspire growth and new ideas. And whew. This team has got <em>ideas.</em></p>
                <p class="blog-listing__subtitle">Check out what folks at Percussion are thinking about below, and drop us a line if something sparks your interest.</p>
            </div>
        </section>
        {%- for post in pagination.items -%}
            <section class="blog-listing section-layout">
                <div class="section__col1-3">
                    <a href="../../blog/{{ post.title | slugify }}/">
                        <img src="{{ post.imageUrl }}?h=300" alt="{{ post.featuredImage.alt }}" class="blog-listing__featured" height="300" width="300"></a>
                    </div>
                    <div class="section__col2-3">
                        <a href="../../blog/{{ post.title | slugify }}/" class="blog-listing__post-title">
                            <h2>{{ post.title }}</h2>
                        </a>
                        <span class="blog-listing__post-meta">{{ post.date | shortDate }}, by {{ post.author.name }}</span>
                        <p class="blog-listing__post-subtitle">{{ post.subtitle }}</p>
                    </div>
                </section>
            {%- endfor -%}
            {% include 'tags.njk' %}
            {% include 'pagination.njk' %}
        </main>
        {% include 'site-footer.njk' %}