---
pagination:
    data: collections.blog
    size: 10
permalink: "blog/index.html"
---

{% include 'site-head.njk' %}
{% include 'secondary-navigation.njk' %}
<main class="site-content">
    <section class="blog-listing section-layout">
        <div class="section__col1-3">
    <h1>Blog Test</h1>
    </div>
    <div class="section__col2-3">
    <ul>
    {%- for post in collections.blog -%}
    <li><a href="../blog/{{ post.title | slugify }}/">{{ post.title }}</a></li>
    {%- endfor -%}
    </ul>
    </div>
    </section>
    {% include 'contact.njk' %}
    {% include 'site-footer.njk' %}
</main>