/* COLORS */

/* Color Variables */

$colors: (
	dark-blue: (
		0: hsl(190, 100%, 18%),
        1: hsl(190, 80%, 28%),
        2: hsl(190, 60%, 38%),
        3: hsl(190, 40%, 48%),
        4: hsl(190, 30%, 58%),
		80: hsl(190, 100%, 18%, 80%),
		60: hsl(190, 100%, 18%, 60%)
	),
	light-blue: (
		0: hsl(190, 100%, 38%),
        1: hsl(190, 85%, 58%),
        2: hsl(190, 70%, 78%),
        3: hsl(190, 60%, 88%),
        4: hsl(190, 50%, 96%), 
		90: hsl(190, 70%, 78%, 90%),
        480: hsl(190, 100%, 98%, 80%)
	),
	teal: (
		0: hsl(182, 100%, 21%),
        1: hsl(182, 80%, 31%),
        2: hsl(182, 60%, 41%),
        3: hsl(182, 40%, 51%),
        4: hsl(182, 20%, 61%),
	),
	dark-orange: (
		0: hsl(10, 80%, 55%),
        1: hsl(10, 80%, 65%),
        2: hsl(10, 80%, 75%),
        3: hsl(10, 80%, 85%),
        4: hsl(10, 80%, 95%),
		180: hsl(10, 80%, 65%, 80%),
	),
	deep-orange: (
		0: hsl(10, 80%, 20%),
		1: hsl(10, 80%, 25%),
		2: hsl(10, 80%, 30%),
		3: hsl(10, 80%, 35%),
		4: hsl(10, 80%, 40%),
	),
	light-orange: (
		0: hsl(30, 100%, 50%),
        1: hsl(30, 100%, 60%),
        2: hsl(30, 100%, 70%),
        3: hsl(30, 100%, 80%),
        4: hsl(30, 100%, 90%),
	),
	light-gold: (
		0: hsl(43, 94%, 79%),
		1: hsl(43, 94%, 84%),
		2: hsl(43, 94%, 89%),
	),
	neutral: (
		0: hsl(0, 0%, 0%),
		1: hsl(0, 0%, 25%),
		2: hsl(0, 0%, 50%),
		3: hsl(0, 0%, 75%),
		4: hsl(0, 0%, 100%),
	),
	// alpha: (
	// 	0: 0%,
	// 	10: 10%,
	// 	20: 20%,
	// 	30: 30%,
	// 	40: 40%,
	// 	50: 50%,
	// 	60: 60%,
	// 	70: 70%,
	// 	80: 80%,
	// 	90: 90%,
	// 	100: 100%,
	// ),
);

/* Color Table Lookup Function */

@function getcolor($color, $value: 0) {
	@return map-get(map-get($colors, $color), $value);
}

/* Semantic Color Assignments */

html {
	// Nav
	--nav-bg: #{getcolor(dark-blue, 0)};
	--nav-text: #{getcolor(neutral, 0)};
	--nav-text--hover: #{getcolor(light-orange, 0)};
	--nav-bg-mobile: #{getcolor(dark-blue, 80)};
	--nav-text-mobile: #{getcolor(neutral, 4)};
	--nav-text-mobile--hover: #{getcolor(light-orange, 0)};
	--nav-toggle: #{getcolor(neutral, 4)};
    --nav-toggle-bg: #{getcolor(dark-blue, 0)};
    --nav-toggle-bg-hover: #{getcolor(light-orange, 0)};

	// Hero
	--hero-bg: #{getcolor(dark-blue, 60)};
	--hero-tagline: #{getcolor(neutral, 4)};
	--hero-tagline-lg: #{getcolor(dark-blue,1)};

	// Footer
	--footer-bg: #{getcolor(dark-blue, 0)};
	--footer-text: #{getcolor(neutral, 4)};
	--social-item: #{getcolor(neutral, 4)};
	--social-item--hover: #{getcolor(light-orange, 0)};
	--social-icon--hover: #{getcolor(light-orange, 0)};
	--footer-border: #{getcolor(dark-orange,0)};

	--modal-overlay: #{getcolor(dark-orange,180)};

    --who-bg: #{getcolor(light-gold, 2)};
    --who-text: #{getcolor(deep-orange,0)};
    --who-heading: #{getcolor(deep-orange,2)};
	--who-links: #{getcolor(light-orange,1)};
	--who-links-active: #{getcolor(neutral,4)};

    --how-bg: #{getcolor(dark-blue,2)};
    --how-text: #{getcolor(light-blue,4)};
    --how-heading: #{getcolor(light-gold,0)};

    --what-bg: #{getcolor(light-blue,90)};
    --what-text: #{getcolor(dark-blue,0)};
    --what-heading: #{getcolor(teal,0)};

    --why-bg: #{getcolor(dark-blue,1)};
    --why-text: #{getcolor(light-blue,4)};
    --why-heading: #{getcolor(light-orange,1)};

    --members-bg: #{getcolor(light-blue,3)} ;
	--members-bg-2: #{getcolor(dark-blue,3)};
    --members-text: #{getcolor(dark-blue,0)};
	--card-link: #{getcolor(dark-orange,0)};
	--card-link-active: #{getcolor(dark-orange,2)};

    --cases-bg: #{getcolor(light-gold,1)};
    --cases-text: #{getcolor(dark-blue,0)};
    --cases-heading: #{getcolor(dark-blue,0)};

    --card-bg: #{getcolor(light-blue,4)};

    --csl-bg: #{getcolor(light-blue,4)};
    --csl-text: #{getcolor(dark-blue,0)};
    --csl-controls-bg: #{getcolor(light-blue,480)};
    --csl-btn-bg: #{getcolor(dark-blue,0)};
	--csl-btn-bg-hover: #{getcolor(dark-blue,2)};

	--contact-bg: #{getcolor(neutral,4)};
	--contact-text: #{getcolor(dark-blue,0)};
	--contact-btn-bg: #{getcolor(dark-orange,0)};
	--contact-btn-bg-hover: #{getcolor(light-orange,0)};
	--contact-btn-text: #{getcolor(neutral,4)};
	--contact-btn-border: #{getcolor(dark-orange,2)};
	--contact-input-bg: #{getcolor(light-blue,4)};
	--contact-input-border: #{getcolor(dark-blue,4)};
	--modal-close: #{getcolor(dark-blue,0)};
	--modal-close-active: #{getcolor(dark-blue,2)};
}

a {
transition: color 0.2s ease-in;
}