/* COLORS */

/* Color Variables */

$colors: (
	dark-blue: (
		0: hsl(190, 100%, 18%),
        1: hsl(190, 80%, 28%),
        2: hsl(190, 60%, 38%),
        3: hsl(190, 40%, 48%),
        4: hsl(190, 30%, 58%),
		80: hsl(190, 100%, 18%, 80%),
		60: hsl(190, 100%, 18%, 60%),
		190: hsl(190, 100%, 18%, 90%),
		290: hsl(190, 80%, 28%, 90%)
	),
	light-blue: (
		0: hsl(190, 100%, 38%),
        1: hsl(190, 85%, 58%),
        2: hsl(190, 70%, 78%),
        3: hsl(190, 60%, 88%),
        4: hsl(190, 50%, 96%), 
		90: hsl(190, 70%, 78%, 90%),
		380: hsl(190, 60%, 88%, 80%),
        480: hsl(190, 100%, 98%, 80%)
	),
	teal: (
		0: hsl(182, 100%, 21%),
        1: hsl(182, 80%, 31%),
        2: hsl(182, 60%, 41%),
        3: hsl(182, 40%, 51%),
        4: hsl(182, 20%, 61%),
	),
	dark-orange: (
		0: hsl(10, 80%, 55%),
        1: hsl(10, 80%, 65%),
        2: hsl(10, 80%, 75%),
        3: hsl(10, 80%, 85%),
        4: hsl(10, 80%, 95%),
		180: hsl(10, 80%, 65%, 80%),
		090: hsl(10, 85%, 35%, 90%)
	),
	deep-orange: (
		0: hsl(10, 80%, 20%),
		1: hsl(10, 80%, 25%),
		2: hsl(10, 80%, 30%),
		3: hsl(10, 80%, 35%),
		4: hsl(10, 80%, 40%),
		190: hsl(10, 80%, 25%, 90%)
	),
	light-orange: (
		0: hsl(30, 100%, 50%),
        1: hsl(30, 100%, 60%),
        2: hsl(30, 100%, 70%),
        3: hsl(30, 100%, 80%),
        4: hsl(30, 100%, 90%),
	),
	light-gold: (
		0: hsl(43, 94%, 79%),
		1: hsl(43, 94%, 84%),
		2: hsl(43, 94%, 89%),
		290: hsl(43, 95%, 89%, 90%)
	),
	neutral: (
		0: hsl(0, 0%, 0%),
		1: hsl(0, 0%, 25%),
		2: hsl(0, 0%, 50%),
		3: hsl(0, 0%, 75%),
		4: hsl(0, 0%, 100%),
	),
	// alpha: (
	// 	0: 0%,
	// 	10: 10%,
	// 	20: 20%,
	// 	30: 30%,
	// 	40: 40%,
	// 	50: 50%,
	// 	60: 60%,
	// 	70: 70%,
	// 	80: 80%,
	// 	90: 90%,
	// 	100: 100%,
	// ),
);

/* Color Table Lookup Function */

@function getcolor($color, $value: 0) {
	@return map-get(map-get($colors, $color), $value);
}

/* Semantic Color Assignments */

html {
	// Nav
	--nav-bg: #{getcolor(dark-blue, 0)};
	--nav-text: #{getcolor(neutral, 0)};
	--nav-text--hover: #{getcolor(light-orange, 0)};
	--nav-bg-mobile: #{getcolor(dark-blue, 80)};
	--nav-text-mobile: #{getcolor(neutral, 4)};
	--nav-text-mobile--hover: #{getcolor(light-orange, 0)};
	--nav-toggle: #{getcolor(neutral, 4)};
    --nav-toggle-bg: #{getcolor(dark-blue, 0)};
    --nav-toggle-bg-hover: #{getcolor(light-orange, 0)};

	// Hero
	--hero-bg: #{getcolor(dark-blue, 60)};
	--hero-tagline: #{getcolor(neutral, 4)};
	--hero-tagline-lg: #{getcolor(dark-blue,1)};

	--hero-tag-bg: #{getcolor(dark-orange,0)};

	// Footer
	--footer-bg: #{getcolor(dark-blue, 0)};
	--footer-text: #{getcolor(neutral, 4)};
	--social-item: #{getcolor(neutral, 4)};
	--social-item--hover: #{getcolor(light-orange, 0)};
	--social-icon--hover: #{getcolor(light-orange, 0)};
	--footer-border: #{getcolor(dark-orange,0)};

	--modal-overlay: #{getcolor(dark-orange,180)};

    --who-bg: #{getcolor(light-gold, 290)};
    --who-text: #{getcolor(deep-orange,0)};
    --who-heading: #{getcolor(deep-orange,2)};
	--who-links: #{getcolor(light-orange,1)};
	--who-links-active: #{getcolor(neutral,4)};

    --how-bg: #{getcolor(dark-blue,290)};
    --how-text: #{getcolor(light-blue,4)};
    --how-heading: #{getcolor(light-gold,0)};
	--how-link: #{getcolor(light-orange,1)};
	--how-link-active: #{getcolor(neutral,4)};

    --what-bg: #{getcolor(dark-orange,090)};
    --what-text: #{getcolor(neutral,4)};
    --what-heading: #{getcolor(light-orange,2)};

    --why-bg: #{getcolor(dark-blue,190)};
    --why-text: #{getcolor(light-blue,4)};
    --why-heading: #{getcolor(light-orange,1)};
	--why-link: #{getcolor(light-orange,1)};
	--why-link-active: #{getcolor(neutral,4)};

    --members-bg: #{getcolor(light-blue,3)} ;
	--members-bg-2: #{getcolor(dark-blue,3)};
    --members-text: #{getcolor(dark-blue,0)};
	--card-link: #{getcolor(deep-orange,4)};
	--card-link-active: #{getcolor(dark-orange,0)};

    --cases-bg: #{getcolor(light-orange,4)};
	--cases-bg-2: #{getcolor(light-orange,3)};
    --cases-text: #{getcolor(dark-blue,0)};
    --cases-heading: #{getcolor(dark-orange,0)};
	--cases-link: #{getcolor(dark-orange,0)};
	--cases-link-active: #{getcolor(dark-orange,2)};

    --card-bg: #{getcolor(light-blue,4)};

    --csl-bg: #{getcolor(light-blue,4)};
    --csl-text: #{getcolor(dark-blue,0)};
    --csl-controls-bg: #{getcolor(light-blue,380)};
    --csl-btn-bg: #{getcolor(dark-blue,0)};
	--csl-btn-bg-hover: #{getcolor(dark-blue,2)};

	--contact-bg: #{getcolor(neutral,4)};
	--contact-text: #{getcolor(dark-blue,0)};
	--contact-btn-bg: #{getcolor(dark-orange,0)};
	--contact-btn-bg-hover: #{getcolor(light-orange,0)};
	--contact-btn-text: #{getcolor(neutral,4)};
	--contact-btn-border: #{getcolor(dark-orange,2)};
	--contact-input-bg: #{getcolor(light-blue,4)};
	--contact-input-border: #{getcolor(dark-blue,4)};
	--modal-close: #{getcolor(dark-blue,0)};
	--modal-close-active: #{getcolor(dark-blue,2)};

	--clients-bg: #{getcolor(light-blue,4)};
	--clients-heading: #{getcolor(dark-blue,0)};

	--services-item: #{getcolor(light-orange,2)};

	//Services (v2)

	--services-card-section-bg: #{getcolor(dark-blue,0)};
	--services-card-bg: #{getcolor(deep-orange,4)};
	--services-card-title: #{getcolor(neutral,4)};
	--services-card-text: #{getcolor(light-gold,2)};

	//Latest
	--latest-bg: #{getcolor(light-blue,3)};
	--latest-heading: #{getcolor(dark-blue,0)};
	--latest-meta: #{getcolor(teal,0)};
	--latest-title: #{getcolor(dark-blue,0)};
	--latest-body: #{getcolor(dark-blue,0)};
	--latest-border: #{getcolor(light-blue,1)};

	//Blog 
	--blog-tag: #{getcolor(dark-blue,0)};

	--blog-single-title-bg: #{getcolor(dark-orange, 0)}; 
	--blog-single-title: #{getcolor(neutral,4)};
	--blog-single-content: #{getcolor(light-blue,4)};
	--blog-single-subtitle: #{getcolor(dark-blue,0)};

	--blog-single-text: #{getcolor(dark-blue,0)};
	--blog-single-pullquote: #{getcolor(dark-blue,1)};
	--blog-single-cite: #{getcolor(dark-blue,2)};

	--blog-listing-bg: #{getcolor(light-blue,3)};
	--blog-listing-heading: #{getcolor(light-gold,0)};
	--blog-listing-heading-bg: #{getcolor(dark-blue,1)};
	--blog-listing-subtitle: #{getcolor(neutral,4)};
	--blog-listing-post-title: #{getcolor(dark-orange,0)};
	--blog-listing-post-title-hover: #{getcolor(dark-orange,1)};
	--blog-listing-post-subtitle: #{getcolor(dark-blue,0)};
	--blog-listing-post-meta: #{getcolor(teal,0)};

	//Case Study
	--case-single-icon: #{getcolor(dark-blue,0)};
	--case-single-overlay: #{getcolor(dark-orange,2)};
	--case-single-title: #{getcolor(neutral,4)};
	--case-single-title-bg: #{getcolor(dark-orange,0)};
	--case-single-problem-bg: #{getcolor(dark-blue,0)};
	--case-single-problem-text: #{getcolor(neutral,4)};
	--case-single-problem-heading: #{getcolor(dark-orange,2)};
	--case-single-solution-bg: #{getcolor(teal,0)};
	--case-single-solution-text: #{getcolor(neutral,4)};
	--case-single-solution-heading: #{getcolor(light-orange,2)};
	--case-single-tactics-bg: #{getcolor(light-blue,3)};
	--case-single-tactics-text: #{getcolor(dark-blue,0)};
	--case-single-tactics-heading: #{getcolor(dark-blue,0)};
	--case-single-result-bg: #{getcolor(light-gold,2)};
	--case-single-result-text: #{getcolor(dark-blue,0)};
	--case-single-result-heading: #{getcolor(dark-orange,0)};
	--case-single-conclusion-bg: #{getcolor(deep-orange,3)};
	--case-single-conclusion-text: #{getcolor(neutral,4)};
	--case-single-conclusion-heading: #{getcolor(light-gold,2)};

	--duotone-highlight: #{getcolor(light-orange,4)};
	--duotone-shadow: #{getcolor(dark-orange,0)};
	--brand-shadow: #{getcolor(dark-blue,0)};


	--case-listing-heading: #{getcolor(neutral,4)};
	--case-listing-intro-text: #{getcolor(neutral,4)};
	--case-listing-intro-bg: #{getcolor(deep-orange,4)};
	--case-listing-body-bg: #{getcolor(light-blue,3)};

	// --case-listing-img: #{getcolor(dark-blue,0)};
	--case-listing-title: #{getcolor(dark-orange,0)};
	// --case-listing-subtitle: #{getcolor(dark-blue,0)};
	--case-listing-text: #{getcolor(dark-blue,0)};
	// --case-listing-quote: #{getcolor(dark-blue,0)};
	// --case-listing-cite: #{getcolor(dark-blue,0)};

	//Pagination 
	--pagination-bg: #{getcolor(light-blue,2)};
	--pagination-text: #{getcolor(dark-blue,0)};
	--pagination-link: #{getcolor(deep-orange,2)};
	--pagination-link-hover: #{getcolor(dark-orange,0)};

}

a {
transition: color 0.2s ease-in;
}