/* LAYOUT */


/* temporary spacing hack for early dev, remove this later */
* + * {
    margin-top: 1rem;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding: 2rem 20%;
    //overflow-x: hidden;

    @media screen and (max-width: 768px) {
        padding: 0.5rem 5%;
    }
}