/* LAYOUT */
@use '../utils' as *;

/* temporary spacing hack for early dev, remove this later */
// * + * {
//     margin-top: 1rem;
// }

html {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100%;
// 	// padding: 2rem 20%;

// 	// @include medium {
// 	//     padding: 0.5rem 5%;
// 	// }
}

/* Temporary outlines */
// .nav {
// 	border: 1px solid #999999;
// }

// .site-header {
// 	border: 1px solid #999999;
// }

// .site-content {
// 	border: 1px solid #999999;
//}

.section-layout,
.site-footer,
.site-header {
	//border: 1px solid #999999;
	padding: 2rem 1rem;

	&__col2-3 p:first-of-type {
		font-size: 150%;
		line-height: 1.25;
	}

	@include medium {
		padding: 2rem;
	}

	@include large {
		padding: 2rem 10%;
		display: flex;
		align-items: flex-start;
		max-width: 1400px;
		margin: 0 auto;
	}

	@include huge {
		max-width: 100%;
		padding: 2rem calc(10% + (50% - 700px));
	}
}

.section {
	&__col2-3 {
		padding-bottom: 4rem;
	}
}

@include large {
	.section {
		&__col1-3 {
			width: 33%;
		}

		&__col2-3 {
			width: 67%;
		}

		&__col3-3 {
			width: 100%;
		}

		&__heading {
			text-align: right;
			padding-right: 3rem;
		}

		&__pullquote {
			text-align: right;
			padding-right: 3rem;
		}

		// &__content {
		// }
	}
}

.who-we-are {
	position: relative;
	//background-color: var(--who-bg);
	background:
		linear-gradient(var(--who-bg), var(--who-bg)),
		url('/img/who-bg.jpeg') center/cover;
	color: var(--who-text);

	& .section__heading {
		color: var(--who-heading);
	}

	// @include divider {
	// 	background-image: url('../img/div-to-lt-blue-2.svg');
	// }
}

.how-we-work {
	position: relative;
	//background-color: var(--how-bg);
	background:
		linear-gradient(var(--how-bg), var(--how-bg)),
		url('/img/how-bg.jpeg') center/cover;
	color: var(--how-text);

	& .section__heading {
		color: var(--how-heading);
	}

	& p a:link,
	p a:visited {
		color: var(--how-link);
	}

	& p a:hover,
	p a:active {
		color: var(--how-link-active);
	}

	// @include divider {
	// 	background-image: url('../img/div-to-lt-gold-2.svg');
	// }
}

.what-we-do {
	position: relative;
	background:
		linear-gradient(var(--what-bg), var(--what-bg)),
		url('/img/what-bg.jpeg') center/cover;
	color: var(--what-text);
	flex-wrap: wrap;

	& .section__heading {
		color: var(--what-heading);
	}

	// @include divider {
	// 	background-image: url('../img/div-to-dk-blue-2.svg');
	// }
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	margin: 0 -1rem;
	// 	width: 100%;
	// 	height: 64px;
	// 	overflow: visible;
	// 	background-image: url('../img/div-to-dk-blue-2.svg');
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	background-position: center bottom;
	// 	//margin: -96px -10%;

	// 	@include medium {
	// 		margin: 0 -2rem;
	// 	}

	// 	@include large {
	// 		margin: 0 -10%;
	// 	}

	// 	@include huge {
	// 		margin: 0 calc(-10% + (-50% + 700px));
	// 	}
	// }
}

.why-we-work {
	position: relative;
	//background-color: var(--why-bg);
	background:
		linear-gradient(var(--why-bg), var(--why-bg)),
		url('/img/why-bg.jpeg') center/cover;
	color: var(--why-text);

	& .section__heading {
		color: var(--why-heading);
	}

	& p a:link,
	p a:visited {
		color: var(--why-link);
	}

	& p a:hover,
	p a:active {
		color: var(--why-link-active);
	}

	// @include divider {
	// 	background-image: url('../img/div-to-lt-gold-1.svg');
	// }
}

.members {
	position: relative;
	padding-bottom: 6rem;
	background: linear-gradient(var(--members-bg),
	var(--members-bg-2)); //var(--members-bg); //TEMP
	color: var(--members-text);

	// @include divider {
	// 	background-image: url('../img/div-to-dk-blue-1.svg');
	// }
}

.cases {
	position: relative;
	background: linear-gradient(var(--cases-bg), var(--cases-bg-2));
	color: var(--cases-text);

	& .section__heading {
		color: var(--cases-heading);
	}
}

.what-we-do,
.how-we-work,
.why-we-work,
.who-we-are {
	padding-top: 3rem;

	& p:first-of-type {
		font-size: 150%;
		font-weight: 600;
		line-height: 1.25;
	}
}

.clients {
	background-color: var(--clients-bg);
}

// .blog-single, .case-single, .case-listing {
// 	padding-top: 6rem;
// }