---
pagination:
    data: collections.caseStudies
    size: 1
    alias: case
permalink: "cases/{{ case.title | slugify }}/index.html"
---

{% include 'site-head.njk' %}
{% include 'secondary-navigation.njk' %}
<main class="site-content">
<section class="case-single section-layout">
    <div class="section__col1-3">
        <h1 class="section__heading">{{ case.title }}</h1>
    </div>
    <div class="section__col2-3">
        {{ case.problem | richText | safe }}
        {{ case.solution | richText | safe }}
        {{ case.tactics| richText | safe }}
        {{ case.results | richText | safe }}
        {{ case.conclusion | richText | safe }}
    </div>
</section>
</main>
{% include 'site-footer.njk' %}