---
pagination:
    data: collections.caseStudies
    size: 1
permalink: "cases/index.html"
---

{% include 'site-head.njk' %}
{% include 'secondary-navigation.njk' %}
<main class="site-content">
    <h1>Case Study Listing</h1>
    <ul>
        {%- for case in collections.caseStudies -%}
            <li>
                <a href="../cases/{{ case.title | slugify }}/">{{ case.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
    {% include 'contact.njk' %}
    {% include 'site-footer.njk' %}
</main>