/* RESET */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*  3. Allow percentage-based heights in the application */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/*  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*  6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*  7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/*  8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* TYPOGRAPHY */
html {
  font-family: "Inter", sans-serif;
  font-size: 100%;
}

body {
  line-height: 1.75;
}

h1, h2, h3, h4, h5 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small, .text_small {
  font-size: 0.75rem;
}

p, ul {
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

.section__pullquote {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

/* COLORS */
/* Color Variables */
/* Color Table Lookup Function */
/* Semantic Color Assignments */
html {
  --nav-bg: #004d5c;
  --nav-text: black;
  --hero-bg: #ff8000;
  --hero-tagline: white;
  --footer-bg: #004d5c;
  --footer-text: white;
  --social-item: white;
  --social-item--hover: #ff8000;
  --social-icon--hover: #ff8000;
}

/* VARIABLES */
/* MIXINS */
/* LAYOUT */
/* temporary spacing hack for early dev, remove this later */
html {
  max-width: 100%;
  overflow-x: hidden;
}

/* Temporary outlines */
.section-layout,
.site-footer,
.site-header {
  padding: 2rem 1rem;
}
@media screen and (min-width: 576px) {
  .section-layout,
.site-footer,
.site-header {
    padding: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .section-layout,
.site-footer,
.site-header {
    padding: 2rem 10%;
    display: flex;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  .section-layout,
.site-footer,
.site-header {
    max-width: 100%;
    padding: 2rem calc(10% + 50% - 700px);
  }
}

@media screen and (min-width: 768px) {
  .section__col1-3 {
    width: 33%;
  }
  .section__col2-3 {
    width: 67%;
  }
  .section__col3-3 {
    width: 100%;
  }
}
/* CARD */
.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.member-card {
  /* temp border */
  width: max(100%, 300px);
  margin: 1rem 0;
  padding: 1.5rem;
}
@media screen and (min-width: 576px) {
  .member-card {
    width: min(100%, 540px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .member-card {
    width: min(100%, 700px);
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .member-card {
    width: min(48%, 480px);
  }
}
.member-card ul, .member-card li {
  margin-top: 0;
}
.member-card h4 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media screen and (min-width: 576px) {
  .member-card h4 {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .member-card h4 {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .member-card h4 {
    text-align: center;
  }
}
.member-card__portrait {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .member-card__portrait {
    margin: 0 2rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .member-card__portrait {
    width: 200px;
    height: 200px;
    margin: 0 2rem 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .member-card__portrait {
    margin: 0 auto;
  }
}
.member-card__info {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .member-card__info {
    width: calc(100% - (150px + 2rem));
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .member-card__info {
    width: calc(100% - (200px + 2rem));
  }
}
@media screen and (min-width: 1024px) {
  .member-card__info {
    width: 100%;
    text-align: center;
  }
}
.member-card__list {
  padding-inline-start: 0;
}
.member-card__role {
  display: inline-block;
  list-style-type: none;
}
.member-card__role:not(:last-of-type)::after {
  content: ", ";
  margin-right: 1ch;
}
.member-card__bio p {
  margin-bottom: 0;
}
@media screen and (min-width: 576px) {
  .member-card__bio {
    margin-top: 2rem;
    min-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .member-card__bio {
    margin-top: 1rem;
  }
}
.member-card__links {
  padding-inline-start: 0;
  list-style-type: none;
}
.member-card__icon {
  display: inline-block;
  margin-right: 1ch;
  position: relative;
  top: 8px;
}

/* DIVIDER */
/* FOOTER */
.site-footer {
  margin-top: 1rem;
  padding-bottom: 3rem;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer__logo {
  margin: 0 auto 1rem;
}
.footer__info {
  flex-grow: 2;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__info {
    margin-top: 1rem;
    order: 10;
  }
}
@media screen and (min-width: 1024px) {
  .footer__info {
    order: initial;
    flex-grow: 0;
    width: 33%;
  }
}
.footer__social-list {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}
.footer__social-item {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__social-item {
    display: block;
  }
}
.footer__social-item a:link, .footer__social-item a:visited {
  color: var(--social-item);
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.footer__social-item a:hover, .footer__social-item a:active {
  text-decoration: underline;
  color: var(--social-item--hover);
}
.footer__social-icon {
  display: inline-block;
  margin-right: 1ch;
  position: relative;
  top: 8px;
}

/* FORMS */
input {
  width: calc(100% - 8ch);
  margin-bottom: 0.5rem;
  border: 1px solid #999999;
  padding: 0.25rem;
  border-radius: 4px;
}
@media screen and (min-width: 1024px) {
  input {
    margin-bottom: 1rem;
  }
}
input[type=file] {
  width: 100%;
  border: 0;
  padding: 0;
}
input[type=submit] {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 50%;
}
input[name=org] {
  width: 100%;
}

textarea {
  width: 100%;
  height: 4rem;
}
@media screen and (min-width: 576px) {
  textarea {
    height: 8rem;
  }
}
@media screen and (min-width: 768px) {
  textarea {
    height: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  textarea {
    height: 16rem;
  }
}

label {
  display: inline-block;
  min-width: 7ch;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--hero-bg);
}
.hero__brand {
  object-fit: contain;
}
.hero__tagline {
  color: var(--hero-tagline);
}
@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}

/* MODAL */
.modal {
  padding: 1rem;
  position: relative;
  background-color: #ffffff;
  opacity: 1;
  z-index: 20;
  max-width: 96vw;
  border-radius: 1rem;
  transform: translateY(0);
  transition: 0.5s ease-out;
}
.modal__close {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.7s;
}
@media screen and (min-width: 576px) {
  .modal {
    min-width: 70vw;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    padding: 3rem;
  }
}

.contactform {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media screen and (min-width: 576px) {
  .contactform__section {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .contactform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}

.hidden > .modal {
  transform: translateY(150px);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* NAV */
.nav {
  background-color: var(--nav-bg);
  color: var(--nav-text);
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav > ul {
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    right: 2%;
    top: 5%;
    width: 96%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(3px);
    z-index: 10;
  }
}
@media screen and (max-width: 768px) {
  .nav--hidden {
    right: -200%;
  }
}

.nav__item {
  display: inline-block;
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}
.nav__item a:link, .nav__item a:visited {
  text-decoration: none;
  color: var(--social-item);
  transition: color 0.2s ease-in;
}
.nav__item a:hover, .nav__item a:active {
  text-decoration: underline;
  color: var(--social-item--hover);
}
@media screen and (max-width: 768px) {
  .nav__item {
    display: list-item;
    list-style-type: none;
    text-align: right;
    margin-right: 1rem;
  }
}

.nav__toggle {
  display: none;
  font-weight: 900;
  font-size: 2rem;
  color: #000000;
}
.nav__toggle a:link, .nav__toggle a:visited, .nav__toggle a:active, .nav__toggle a:hover {
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav__toggle {
    margin: 0;
    height: 0;
    z-index: 30;
    overflow: visible;
    display: block;
    position: sticky;
    width: 100%;
    text-align: right;
    top: 0;
    right: 2rem;
  }
}

#menu-button {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  margin-right: 1rem;
}

.rotated {
  transform: rotate(405deg);
}

/* CAROUSEL */
.carousel__container {
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: relative;
  border-radius: 3px;
  width: 100%;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.carousel__items {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 1em;
  position: relative;
  left: 0px;
  transition: left 0.3s ease-in-out;
}

.carousel__item {
  display: block;
  min-width: 100%;
  padding: 1rem;
  margin-top: 0;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}
.carousel__item--current {
  opacity: 1;
}
.carousel__item h3 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-top: 1rem;
}

.carousel__controls {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #cccccc;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.carousel__btn {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #777777;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  font-size: 24px;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.carousel__btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
.carousel__btn:hover {
  background-color: #666666;
}

/*# sourceMappingURL=style.css.map */
