{% include 'site-head.njk' %}
{% include 'home-navigation.njk' %}
{% include 'hero.njk' %}
<main class="site-content">
    {% for section in collections.sectionContent %}
        <section class="{{ section.title | slug }} section-layout">
            <div class="section__col1-3">
                <h2 class="section__heading">
                    <a id="{{ section.title | slug }}">{{ section.title }}</a>
                </h2>
                {%- if section.pull_quote -%}
                    <h4 class="section__pullquote">{{ section.pullquote }}</h4>
                {%- endif -%}
            </div>
            <div class="section__col2-3">
                {{ section.body | richText | safe }}
            </div>
            {%- if section.title === "What We Do" -%}
                {% include 'services.njk' %}
            {%- endif -%}
        </section>
    {%- endfor -%}
    {% include 'members.njk' %}
    {# {% include 'cases.njk' %} #}
    {% include 'clients.njk' %}
</main>
{% include 'site-footer.njk' %}