<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'fonts.njk' %}
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    {% include 'header.njk' %}
    <main class="sitecontent">
        <h1>Percussion Strategic</h1>
        {%- for section in collections.section -%}
        <h2>{{ section.data.title }}</h2>
        {{ section.templateContent | safe }}
        {%- endfor -%}
        {% include 'members.njk' %}
    </main>
    {% include 'footer.njk' %}
    <script src="js/main.js"></script>
</body>
</html>