{% set pageName = 'home' %}
{% include 'site-head.njk' %}
{% include 'home-navigation.njk' %}
{% include 'hero-v2.njk' %}
<main class="site-content">
    {% include 'latest.njk' %}
{% include 'services-v2.njk' %}   
{# {% include 'tags.njk' %} #}
</main>
{% include 'site-footer.njk' %}